html,body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuisineSelector{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    div{
        margin-left: 20px;
        font-size: 24px;
        opacity: .5;
        filter: grayscale(.3);
    }
    .selected{
        opacity: 1;
        filter: none;
    }
    div:hover{
        opacity: 1;
        filter: none;  
        cursor: pointer;
    }
}

#selectorContainer {
    display: flex;
    flex-direction: row; 
} 

section{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 48px;
}

section:focus{
    box-shadow: 0px 1px 12px rgba(0,0,0,.2);
    outline: none;
}

ul{
    list-style-type:none;
}