@import 'variables';

html,body{
    margin:0;
    overflow-y: hidden;
    height:100vh;
    background-color: $secondary;
    font-family: $primaryFont;
    font-size: $defaultFontSize;
    box-sizing: border-box;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    margin: auto;
    max-width: 1040px;
}

#nomspoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 15px 0px;
}

#nomspoTitle {
    font-size: $nomspoTitleFontSize;
    margin-bottom: 15px;
    font-weight:900;
}

#nomspoDescription {
    font-size: $mediumFontSize;
    margin-bottom: 30px;
}

#cuisineSelector{
    display: flex;
    flex-direction: row;
    padding: 10px 20px 15px 20px;
    height: 100%;
    background: $darkBrown;

    .cuisineWrapper {
        display: flex;
        color: $black;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        opacity: .5;
        filter: grayscale(.3);

        &:hover{
            opacity: 1;
            filter: none;
            cursor: pointer;
        }

        .cuisineEmoji {
            font-size: $mediumFontSize;
        }
    }
    .selected{
        opacity: 1;
        filter: none;
    }
}

.typeLegend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div{
        opacity: .5;
    }
    .selected{
        opacity: 1;
        font-weight: 700;
    }
    div:hover{
        cursor: pointer;
    }
}

#cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    flex-grow: 1;
}

.card {
    font-size: $cardContentFontSize;
}

.cardWrapper {
    margin: 0 16px;
    width: 100%;
}

#selectorContainer {
    display: flex;
    flex-direction: row;
}

section {
    margin-top: 16px;
    border-radius: 5px;
    overflow: hidden;

    &:focus {
    border: $border-normal;
    outline: none;
        li{
            font-weight:900;
        }
    }
}

#submit{
    font-family: 'Ubuntu Mono', monospace;

    &:focus{
        border: $border-normal;

    }
}

#submit{
    background-color: $teal;
    color: $white;
    border-radius: 4px;
    line-height: 120%;
    outline:none;
    border:none;
    margin: auto;
    padding: 20px;
    font-size: $mediumFontSize;
}

ul{
    list-style-type:none;
}

#footerExplanation {
    margin: 30px auto;
    width: 100%;
    text-align: center;
}