$secondary: #EADEC6 !default;
$white: #f8f8f8 !default;
$black: #000000;
$green: #93B46B;
$coral: #eb7652;

$primaryFont: 'Ubuntu Mono', monospace;
$normal: 400;
$medium: 500;
$bold:700;

$border-normal: 3px solid $black;

$nomspoTitleFontSize: 64px;
$defaultFontSize: 18px;
$cardContentFontSize: 42px;
$mediumFontSize: 20px;
