$secondary: #F5D8B2 !default;
$white: #f8f8f8 !default;
$black: #000000;
$teal: #29ACAD;
$darkBrown: #C6ACB8;

$primaryFont: 'Ubuntu Mono', monospace;
$normal: 400;
$medium: 500;
$bold:700;

$border-normal: 3px solid $black;

$defaultFontSize: 16px;
$cardContentFontSize: 32px;
$mediumFontSize: 20px;
$nomspoTitleFontSize: 40px;